# Main PostgreSQL database
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DOCKER_HOST=postgres
POSTGRES_DOCKER_PORT=5432
POSTGRES_DB=ecommerce_dw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# pgAdmin
PGADMIN_PORT=8084
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me

# dbt docs
DBT_DOCS_PORT=8085

# Airflow
AIRFLOW_PORT=8086
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me
AIRFLOW_DB_NAME=airflow
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_FIRSTNAME=Data
AIRFLOW_ADMIN_LASTNAME=Engineer
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_SECRET_KEY=change_me

# Metabase
METABASE_PORT=3000

# AI Assistant
AI_ASSISTANT_PORT=8090
AI_PROVIDER=mock
AI_DB_USER=ai_reader
AI_DB_PASSWORD=change_me